/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui" {
  themes: night --default, night --prefersdark;
}
/* @layer base {
  @font-face {
    font-family: "Monserrat";
    src: url("/assets/fonts/monserrat-alternates/Monserrat-Medium.ttf")
    format("truetype")
  }
} */